
<%- include('partials/search-form', { isLoading }) %>

<% if (error) { %>
  <div class="alert alert-danger mt-4 dark-glass">
    <i class="bi bi-exclamation-triangle me-2"></i> <%= error %>
  </div>
<% } %>

<% if (isLoading) { %>
  <%- include('partials/loader') %>
<% } %>

<% if (data) { %>
  <div class="my-5">
    <%- include('partials/profile', { userInfo: data.userInfo, stats: data.stats }) %>
  </div>

  <h2 class="text-2xl font-bold mt-8 mb-4 text-white">Recent Videos</h2>
  
  <div class="grid gap-4">
    <% data.results.forEach(video => { %>
      <%- include('partials/video', { video }) %>
    <% }); %>
  </div>
<% } %>
